<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
      >

<head>
    <th:block layout:fragment="head">
        <title>Chat Join</title>
    </th:block>
</head>
<body>
    <div layout:fragment="content" class="container">
    	<div class="div_login">
    		<form id="joinForm" action="/login/joinRun" method="post">
    			<input type="hidden" id="m_birthday" name="m_birthday">
    			<div class="input_wrap">
    				<input type="text" id="m_name" name="m_name" class="input_text" placeholder="이름" maxlength="15">
    			</div>
    			<div class="input_wrap">
    				<input type="text" id="m_id" name="m_id" class="input_text" placeholder="id" maxlength="15">
    			</div>
    			<div class="input_wrap">
    				<input type="text" id="m_pw" name="m_pw" class="input_text" placeholder="pw" maxlength="15">
    			</div>
    			<div class="input_wrap">
    				<input type="password" id="m_pw2" class="input_text" placeholder="pw2" maxlength="15">
    			</div>
    			<div>
    				<select id="yy_box">
    				</select>
    				<select id="mm_box">
    				</select>
    				<select id="dd_box">
    				</select>
    			</div>
    			<div class="input_wrap">
    				<input type="text" id="m_phone" name="m_phone" class="input_text" placeholder="전화번호" maxlength="11">
    				<a href="#" id="sms_send" class="btn_message btn btn-sm btn-success">인증</a>
    			</div>
    			<div class="input_wrap">
    				<input type="text" id="sms_check" class="input_text" placeholder="인증번호" maxlength="11">
    			</div>
    			<div>
    				<button type="button" class="btn_login">등록</button>
    				<button type="button" id="btn_cancle" class="btn_login">취소</button>
    			</div>
    		</form>
    	</div>
    </div>
</body>
</html>
<!-- 개별 js -->
<script type="text/javascript" src="../js/join.js"></script>
<!-- 개별 css-->
<link rel="stylesheet" href="/css/memberCss.css"/>