<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head th:fragment="headFragment">
		<meta charset="utf-8">
		<title layout:title-pattern="$CONTENT_TITLE"></title>
		<!-- 공통 css 영역-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
		<!-- <link th:href="@{/css/styleCss.css}" rel="stylesheet" /> -->
		<!--공통 js 영역-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- icon 추가용 -->
		<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
	</head>


</html>