<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default_layout}">


	<title>Insert title here</title>
	<body>
		<th:block th:each="memberList : ${memberList}">
			<span th:text="${memberList.m_id}"></span>
			<span th:text="${memberList.m_pw}"></span>
			<span th:text="${memberList.m_name}"></span>
			<span th:text="${memberList.m_birthday}"></span>
			<span th:text="${memberList.m_login_state}"></span>
			<span th:text="${memberList.m_image}"></span>
			<span th:text="${memberList.m_email}"></span>
		</th:block>
	</body>
</html>